
html, body {
  padding: 0 0 0 0;
  margin: 0 3rem;
  font-family: 'helvetica', 'arial', 'sans';
}

h1, h2, h3, h4 {
  font-family: 'helvetica', 'arial', 'sans';
}


a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
}

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  float: left;
}

.assignment:hover { 
  overflow:auto 
}

.assignment a {
  color: #000;
  text-decoration: none;
}

.assignment a:hover {
  background: rgb(59, 191, 103);
  color: rgb(59, 191, 103);
  text-decoration: none;
}

.footer {
  width: 1100px;
  float: left;
  padding: 300px 0px 30px 30px;
}

.widebody {
  width: 800px;
  padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: rgb(59, 191, 103);
  color: #FFF;
  text-decoration: none;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.code {
  padding: 1rem;
  background-color: rgb(228, 227, 227);
  font-family: 'Courier New', Courier, monospace;
}

.demo {
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  flex-flow: column;
  background-color: rgb(228, 227, 227);
  margin: 0;
}

.row {
  width: 100%;
  justify-content: space-evenly;
}